<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congratulations!</h1>
    <p>
      Your rental of <%= @reservation.posting.title %> has been confirmed. The rental period is <%= @reservation.when %>
    </p>
  </body>
</html>
