<div class="search-area text-center page-container-responsive page-container-no-padding">
  <video autoplay id="video-bg">
    <source src="https://a0.muscache.com/airbnb/static/London-P1-1.mp4" type="video/mp4">
      <source src="https://a0.muscache.com/airbnb/static/London-P1-0.webm" type="video/webm">
        Your browser does not support the video tag.
      </video>

    </div>

    <% content_for :afterbody do %>
    <script>
    $( document ).ready(function() {
    $("h2").lettering();

// hack to get animations to run again
$("h2").click(function() {
  var el = $(this),
     newone = el.clone();
  el.before(newone);
  el.remove();
});


var text = $("#jquerybuddy");
numLetters = text.find("span").length;

function randomBlurize() {
text.find("span:nth-child(" + (Math.floor(Math.random()*numLetters)+1) + ")")
  .animate({
    'textShadowBlur': Math.floor(Math.random()*25)+4,
    'textShadowColor': 'rgba(0,100,0,' + (Math.floor(Math.random()*200)+55) + ')'
  });
// Call itself recurssively
setTimeout(randomBlurize, 100);
} // Call once
randomBlurize();
})
</script>
<% end %>

    <div >
      <h2 class="hovertown">Rent. Loan. Discover.</h2>
    </div>
    <br>
    <div class="splashtext">
      <h2>Choose from thousands of local, instant, affordable rentals.</h2>
      <h3>Select a category to begin.</h3>
    </div>
    <br>
    <div class="bottom-search-area hide-sm">
      <form action="/s" id="search_form">
        <div class="location-wrapper"><input type="text" class="form-inline location input-large input-contrast" autocomplete="off" id="location" name="location" placeholder="City" /><p id="enter_location_error_message" class="bad hide">
        </p></div><input type="text" id="checkin" class="form-inline checkin search-option input-large input-contrast" name="checkin" placeholder="Check In" /><input type="text" id="checkout" class="form-inline checkout search-option input-large input-contrast" name="checkout" placeholder="Check Out" /><div class="select select-large">
        </div><input type="hidden" name="source" value="bb"><button type="submit" class="search-button form-inline btn btn-primary btn-large" id="submit_location">
          Search
        </button>
      </form>

    </div>
  </div>

</div>
