

  <div class="form-group">
    <label for="reservationtime" id="reservation">Reservation Dates:</label>
    <div class="input-group">
     <input type="text" name="reservation" id="reservationtime" class="form-control" value="07/10/2014 1:00 PM - 07/10/2014 1:30 PM" />
    </div>
  </div>


<script type="text/javascript">
$(document).ready(function() {
  $('input#reservationtime').daterangepicker();
});
</script>
