<h1>Confirm Reservation</h1>
<br><HR>
<strong>  User requesting reservation: </strong>
<br><br>
<%= current_user.email %>
<br><br>
<strong>  Item to be reserved: </strong>
<br><br>
<%= @posting.title %>
<br><br>
<strong>  Dates Requested: </strong>
<br><br>
<%= render 'form' %>

<div class="btn-group">
  <%= link_to 'Cancel', posting_path(@posting.id), :class => "btn btn-primary", :role => "button" %>
</div>
