// Place all the styles related to the Postings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
<<<<<<< HEAD
// table, th, td {
.list-table {
  margin: 15px;
  padding: 15px;
  font-weight: bold;
}

.list-table-body {
}

.list-table-element {
  border: 2px solid gray;
  background-color: AntiqueWhite;
}

.list-table-head {
  border: 2px solid gray;
  background-color: #006699;
  align: center;
  font-size: 15px;
}
.description-column {
  color: black;
  width: 30%;
  background-color: AntiqueWhite;
}

/* unvisited link */
// a:link {
//   color: #FF0000;
// }

/* visited link */
// a:visited {
//   color: #FF0000;
// }
/* mouse over link */
// a:hover {
//   color: #FF00FF;
// }

/* selected link */
// a:active {
//   color: #0000FF;
// }
=======
>>>>>>> 34bddf48a317de73bb7928046b2b08a5f10110dc
#whitelink {
  color: white;
}

#whitelink:visited {
  color: skyblue;
}

.field, .actions {
  color:black;
}

#blacklink {
  color:black;
}

.showpage {
  padding: 40px;
}
<<<<<<< HEAD

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  margin-top:20px;
  position: relative;
  z-index: 15;
}

.navbar.navbar-inverse.navbar-static-top {
  background: #004182;
  border-color: #197fe6;
  border: 1px;
  border-radius: 10px;
}
.navbar.navbar-inverse.navbar-static-top a{
  color:#fff;
}
.navbar.navbar-inverse.navbar-static-top a:hover{
  color:#f2c319;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus{
  background:#197fe6;
  font-weight:700;
}
.navbar-inverse .navbar-nav>.active>a:hover {
  background:#197fe6;
  color:#f2c319;
  font-weight:700;
}
=======
>>>>>>> 34bddf48a317de73bb7928046b2b08a5f10110dc
