// Place all the styles related to the Postings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import url(http://fonts.googleapis.com/css?family=Droid+Serif);
@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Dosis);
@import url(http://fonts.googleapis.com/css?family=PT+Serif);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);

#descriptionHead {
  font-size: 22px;
  padding-bottom: 10px;
  line-height: 120%;
}

#descriptionBody {
  font-size: 16px;
  padding-bottom: 10px;
  line-height: 120%;
}

#uploadimage {
  // padding-bottom: 60%;
}

#uploadimage img {
  height: auto;
  max-height: 100%;

  width: auto;
  max-width: 100%;
}

.imagenavigation {
  position: absolute;
  top: 50%;
  margin-top: -28px;
  width: 100%;
  height: 56px;
}

.item active {
    width:540px;
    height: auto;
}

.carousel-inner img.resize {
  height: auto;
    max-height: 100%;

    width: auto;
    max-width: 100%;
}


.year-make-model {
  font-family: 'PT+Serif';
  color: #555555;
  line-height: 1.0em;
  font-size: 32px;
  background: #28bcdc;
  color: white;
  display: inline-block;
  padding: 10px 20px;
  position: absolute;
  top: 10px;
}

.vehicle-name {
  font-size: 18px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #555555;
  padding: 25px 20px 10px 20px;
  margin-bottom: 0;
  margin-left: 10px;
  margin-top: 30px;
  background: #54544e;
  display: inline-block;
  width: auto;
  color: #ffffff;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.previous {
  position: absolute;
  width: 40px;
  height: 56px;
  opacity: 0.8;
  background: url('https://d1pryd867v4xab.cloudfront.net/resources/img/arrows.png') 0 0 no-repeat;
}

#content {
  z-index: 2;
  margin: 0 auto;
  position: relative;
  zoom: 1;
  // min-height: 600px;
}

.left-column {
  float: left;
  clear: left;
  width: 620px;
}

.right-column {
  float: right;
  clear: right;
  width: 300px;
}

p {
  font-family: 'PT Serif', serif;
}

strong {
  font-family: 'Ubuntu', sans-serif;
}

.field {
  font-family: 'PT Serif', serif;
}

html, body {
    height:100%;
}

#category_id {
  text-align: center;
  align: center;
  margin-left: auto;
  margin-right: auto;
}



.textarea-styled {
  height: 120px;
  // border: 3px solid #cccccc;
  padding: 5px;
}
.styled-select {
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
   height: 29px;
   overflow: hidden;
   width: 240px;
   align: center;
   text-align: center;
   margin-left: auto;
    margin-right: auto;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;
   align: center;
   text-align: center;
   margin-left: auto;
    margin-right: auto;
}

.rounded {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
}

.black   { background-color: #197fe6; }

.black select   { color: #fff; }

/* select {
  background: black;
  width: 268px;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 34px;
  -webkit-appearance: none;
} */

h2.hovertown {
  color: white;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 62px;
  text-transform: uppercase;
  letter-spacing: -1px;
  text-align: center;
  text-shadow: 3px 3px #1A1A1A;
}

.hovertown span {
  transition: all 0.9s ease;
}
.hovertown span:hover {
  text-shadow: 0 0 72px black;
  color: transparent;
  transition: all 0.2s ease;
}

.splashtext h3 {
  color: white;
  font-size: 18px;
  text-align:center;
  font-family: 'Dosis', sans-serif;
  text-shadow: 1px 1px #1A1A1A;
}

.splashtext h2 {
  color: white;
  font-size: 20px;
  text-align:center;
  text-shadow: 2px 2px #1A1A1A;
}

.bottom-search-area {
   text-align: center;
   width: 900px;
   margin-left: auto;
   margin-right: auto;
}

#splash_center {
  margin-left: auto;
  margin-right: auto;
}

.pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 0.5em;
  cursor: default;
}

.pagination a, .pagination span {
    padding: 0.0em 0.0em;
}

.pagination .disabled {
  color: #aaaaaa;
}

.pagination .current {
  font-style: normal;
  font-weight: bold;
  background-color: #bebebe;
  display: inline-block;
  width: 1.4em;
  height: 1.0em;
  line-height: 1.5;
  -moz-border-radius: 0em;
  -webkit-border-radius: 0em;
  border-radius: 0em;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
}

.pagination a {
  text-decoration: none;
  color: black;
}

.pagination a:hover, .pagination a:focus {
  text-decoration: underline;
}


.list-table {
  margin: 15px;
  padding: 15px;
  // font-weight: bold;
}

.list-table-body {
}



.list-table-element {
//  border: 2px solid gray;
  background-color: GhostWhite;
  background: rgba(54, 54, 54, 0.2);
  // Added by Jet
  text-align: left;
  vertical-align: top;

}

.list-table-head {
  border: 2px solid gray;
  background-color: #006699;
  align: center;
  font-size: 15px;
}
.description-column {
  color: black;
  width: 30%;
}

.whitelink {
  color: white;
}

.whitelink:visited {
  color: skyblue;
}

.field, .actions {
  color:black;
}

#blacklink {
  color:black;
  font-family: 'Montserrat', sans-serif;
  margin-top: -20px;
  font-size: 35px;
}

.category {
  font-size: 35px;
  margin-bottom: 30px;
}

.showpage {
  padding: 40px;
}

#cost {
  font-size: 16px;
  width: 400px;
  height: 100px;
  padding: 10px;
  border: 5x solid navy;
  background: gray;
  margin-top: 55px;
  text-align: center;
  align: center;
  color: white;
}

#reserve {
  align: center;
  text-align: center;
  margin-top: 30px;
}

#offerContainer {
  font-size: 16px;
  width: 400px;
  height: 100px;
  border: 5x solid navy;
  background: gray;
  align: center;
  text-align: center;
}

#offeredBy {
  align: center;
  text-align: center;
  margin-top: 30px;
  color: white;
}

#reservation {
  font-size: 20px;
}
#reservationtime {
  font-size: 14px;
}
// Class that is added inorder to highlight posting row corresponding to marker
// hover over
tr.highlightRow {
  background-color: yellow;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  margin-top:0px;
  position: relative;
  z-index: 15;
}

.navbar.navbar-inverse.navbar-static-top {
  background: #004182;
  border-color: #197fe6;
  border: 1px;
  border-radius: 10px;
}
.navbar.navbar-inverse.navbar-static-top a{
  color:#fff;
}
.navbar.navbar-inverse.navbar-static-top a:hover{
  color:#f2c319;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus{
  background:#197fe6;
  font-weight:700;
}
.navbar-inverse .navbar-nav>.active>a:hover {
  background:#197fe6;
  color:#f2c319;
  font-weight:700;
}

.carousel-inner img {
  width: 500px;
  height: 300px !important;
}
