

@import url(http://fonts.googleapis.com/css?family=Lato);



.menuItem {
  text-align: right;
}

.navalign {
  align: right;
  text-align: right;
  margin-right: 45px;
}


#video-bg {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  overflow: hidden;
  z-index: -1;
 width: 100%;
 height: auto;
}

#whitelink {
  color: white;
}

.btn-primary {
  background-image: -webkit-linear-gradient(top,#6DAAC1 0,#265A88 100%);
}

.heading-text {
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  color: #565a5c;
  -webkit-font-smoothing: antialiased;
  font-size: 24px;
}

.th-text, .label-text {
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.43;
  color: #565a5c;
  -webkit-font-smoothing: antialiased;
}


.td-text, .input-text {
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.43;
  color: #565a5c;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
}

body, h1 {
  background-color: #e9f1f4;
  color: black;
  font-family: verdana, arial, helvetica, sans-serif;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 15px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.43;
  color: #ff5a5f;
  -webkit-font-smoothing: antialiased;
  // &:visited {
  //   color: #666;
  // }
  &:hover {
    text-decoration: underline;
    // background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
  font-size: 20px;
  font-weight: bold;
}

#inlineblock {
  display: inline-block;
}

#box {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    line-height: 22px;
    background-color: lightgrey;
    width: 300px;
    padding: 10px;
    border: 1px solid navy;
    margin: 10px;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
