<%= form_for [@posting, @review] do |f| %>
  <div class="field">
    <%= f.label :review, :class => "label-text" %><br>
    <%= f.text_area :review, :class => "input-text" %>
  </div>

  <div class="actions">
    <%= f.submit "Add Review", :class => 'btn btn-primary'  %>
  </div>
<% end %>
