<html>
  <head>
    <title>My date picker</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>

    <link href="jquery-ui.min.css" rel="stylesheet">
    <link href="../assets/stylesheets/jquery.comiseo.daterangepicker.css" rel="stylesheet">
    <script src="jquery.min.js"></script>
    <script src="jquery-ui.min.js"></script>
    <script src="../assets/javascript/jquery.comiseo.daterangepicker.js"></script>
    <script>
        $(function() { $("#e1").daterangepicker(); });
    </script>
  </head>
  <body>
    <input id="e1" name="e1">
  </body>
</html>
